.footer {
  .copyright {
    font-size: 0.75em;
  }
  .inner-footer-wrapper {
    background-color: $black;
  }
  .footer-nav {
    ul {
      li {
        display: block;
        a {
          color: $white;
        }
      }
    }
  }
}
