.footer {
  .copyright {
    font-size: 0.75em;
  }
  .footer-image {
    margin-bottom: -2px;
    width: 100%;
    // min-width: 950px;
  }
  .inner-footer-wrapper {
    background-color: #000;
  }
  .footer-nav {
    ul {
      li {
        display: block;
        a {
          font-weight: 500;
          color: $white;
          &:hover {
            padding-left: 1.5em;
          }
        }
        &.active a {
          color: $blue;
          padding-left: 2em;
        }
      }
    }
  }
}



@media (max-width: 600px) {
  .footer .footer-image {
    // transform: translateX(-50%);
  }
}
