.up-logo {
  max-width: 300px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}


.logo-area {
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  // display: none;
  align-items: center;
  justify-content: center;
  &.hide-for-large-up {
    display:inline-flex;
    width: auto;
  }
}
.ring {
  border-radius: 50%;
  margin: 0 auto;
  font-size: 100px;
  // position: absolute;
  display: flex;
  // display: none;
  align-items: center;
  justify-content: center;
  // top: 50%;
  // left: 50%;
  // right: 50%;
  // opacity: 0.75;
  animation-name: ripple-pulse;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  &.outer {
    width: 3em;
    height: 3em;
    border: 1px solid $tan;
  }
  &.middle {
    width: 2em;
    height: 2em;
    border: 2px solid $tan;
    transform: translateY(-100%), translateX(-100%);
  }
  &.inner {
    width: 1.5em;
    height: 1.5em;
    border: 3px solid $tan;
    transform: translateY(-100%), translateX(-100%);
  }
}

.main-left {
  img {
    margin: 0 auto;
    display: block;
  }
}
