.header {
  background-image: url('../images/hero_image@1x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 1em;
}



.site-title-wrapper {
  max-width: $global-width;
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  flex-basis: 1;
}

.logo-area {
  // min-width: 200px;
  flex-basis: 1;
  padding: 0 3em;
  box-sizing: border-box;
  img {
    max-width: 250px;
    min-width: 100px;
    margin: 0 auto;
    display: block;
  }
}

.show-for-small {
  display: none;
}


@media (max-width: 600px ) {
  .site-title-wrapper {
    // height: 100vh;
    flex-direction: column;
    align-content: stretch;
    // .show-for-small {
    //   display: initial;
    // }
    .small-menu {
      // padding: 1em 0;
      order: 3;
      // flex-grow: 2;
      margin-top: 2em;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .menu-main-menu-container {
        width: 100%;
      }
      ul {
        width: 100%;
        li {
          display: block;
          // text-align: center;
          margin: 0 auto;
          a {
            font-size: 2em;
            color: $white;
          }
        }
        li:first-of-type {
          display: none;
        }
      }
    }
    .title {
      order: 2;
      max-width: 150px;
    }
    .logo-area {
      // flex-basis: 100%;
      order: 1;
      margin: 1em 0;
      img {
        max-width: 200px;
      }
    }
  }
}
