.menu-area {
  position: relative;
  .menu-toggle {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: $blue;
    padding: 1em;
    text-transform: uppercase;
    display: block;
    // margin: 1em auto;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(black, 0.45);
    position: fixed;
    top: 2em;
    right: 2em;
    // transform: translate(-50%, -50%);
    z-index: 15;
    transition: all 0.15s ease-out;
    box-shadow: 0 0 3px rgba($black, 0.15), 1px 1px 3px rgba($black, 0.35);
    &.open {
      background-color: $white;
      color: $black;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .menu-overlay {
    background-color: #000;
    background-image: url('../images/menu_bg.png');
    background-position: left 5em;
    background-repeat: no-repeat;
    background-size: 50%;
    display: block;
    position: fixed;
    top: 50%;
    right: 50%;
    height: 0px;
    width: 0px;
    opacity: 0;
    transform: translate(50%, -50%);
    // border-radius: 50%;
    z-index: 5;
  }
  .menu-main-menu-container {
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    width: 100%;
    max-width: 500px;
    padding: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
    ul {
      list-style-type: none;
      font-size: 2em;
      li {
        display: block;
      }
      a {
        font-weight: 500;
        color: $white;
        text-shadow: 1px 1px 3px rgba($black, 0.5);
      }
    }
  }
}



// GLOBAL LINK STYLES

.menu-main-menu-container {
  li a {
    transition: all 0.15s ease-out;
    // color: $blue;
  }
  li a:hover {
    padding-left: 1em;
  }
  li.active a {
    background-color: transparent;
    // border-left: 1px solid $blue;
    padding-left: 1.5em;
    color: $blue;
  }
}



@media(max-width: 500px) {
  .menu-area {
    .menu-main-menu-container {
      ul {
        font-size: 1.5em;
      }
    }
    .menu-overlay {
      background-size: 75%;
    }
  }
}
